## Will deploy the models local in your infrastructure.

services:
  model-orchestrator:
    image: 728958649654.dkr.ecr.eu-west-1.amazonaws.com/model-orchestrator
    container_name: model-orchestrator
    restart: unless-stopped
    init: true
    ports:
      - "9091:9091"
    volumes:
      - ./data/model-orchestrator:/data/
      - /var/run/docker.sock:/var/run/docker.sock # for local runner
    privileged: true # for local runner
    command: [ "--configuration-file", "/data/orchestrator.dev.yml" ]
    networks: [ falconnet ]


networks:
  falconnet:
    external: true
