x-common-env:
  environment: &common-db-env
    POSTGRES_HOST: ${POSTGRES_HOST:-postgres}
    POSTGRES_PORT: ${POSTGRES_PORT:-5432}
    POSTGRES_USER: ${POSTGRES_USER:-falcon}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-falcon}
    POSTGRES_DB: ${POSTGRES_DB:-falcon2}

x-common-build: &common-build
  build:
    context: ${PROJECT_DIR:-./}
    dockerfile: Dockerfile

services:
  postgres:
    image: postgres:15
    environment:
      <<: *common-db-env
    container_name: falcon2-postgres
    restart: always
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}" ]
      interval: 2s
      timeout: 5s
      retries: 20
      start_period: 10s
    volumes:
      - ./data/postgres_data:/var/lib/postgresql/data
    networks: [ falconnet ]

  init-db:
    <<: *common-build
    environment:
      <<: *common-db-env
    # todo improve and handle migration
    command: [ "python", "-m", "falcon2_backend.infrastructure.db.init_db" ]
    depends_on:
      postgres:
        condition: service_healthy
    networks: [ falconnet ]

  predict-worker:
    <<: *common-build
    environment:
      <<: *common-db-env
      MODEL_RUNNER_NODE_HOST: ${MODEL_RUNNER_NODE_HOST:-model-orchestrator}
      MODEL_RUNNER_NODE_PORT: ${MODEL_RUNNER_NODE_PORT:-9091}
    restart: always
    command: [ "python", "-m", "falcon2_backend.workers.predict_worker" ]
    depends_on:
      init-db:
        condition: service_completed_successfully
      model-orchestrator:
        condition: service_started
    networks: [ falconnet ]

  score-worker:
    <<: *common-build
    environment:
      <<: *common-db-env
    restart: always
    command: [ "python", "-m", "falcon2_backend.workers.score_worker" ]
    depends_on:
      init-db:
        condition: service_completed_successfully
    networks: [ falconnet ]

  report-worker:
    <<: *common-build
    environment:
      <<: *common-db-env
    restart: always
    command: [ "python", "-m", "falcon2_backend.workers.report_worker" ]
    ports:
      - "8000:8000"
    depends_on:
      init-db:
        condition: service_completed_successfully
    networks: [ falconnet ]


  ## Model Nodes
  webto3:
    image: 728958649654.dkr.ecr.eu-west-1.amazonaws.com/webto3
    container_name: webto3
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      SOLANA_ENV: ${SOLANA_ENV:-devnet}
      TOURNAMENT_API_BASE_URL: ${TOURNAMENT_API_BASE_URL:-https://api.hub.crunchdao.com}
      TOURNAMENT_API_KEY: ${TOURNAMENT_API_KEY:?error}
    volumes:
      - .config/solana/:/root/.config/solana/

    networks: [ falconnet ]

  model-orchestrator:
    image: 728958649654.dkr.ecr.eu-west-1.amazonaws.com/model-orchestrator
    container_name: model-orchestrator
    restart: unless-stopped
    init: true
    ports:
      - "9091:9091"
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:?error}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:?error}
      AWS_DEFAULT_REGION: ${AWS_REGION:-eu-west-1}
    volumes:
      - ./data/model-orchestrator:/data/
      - ~/.aws:/root/.aws:ro
    command: [ "--configuration-file", "/data/orchestrator.yml" ]
    networks: [ falconnet ]

    depends_on:
      - webto3

networks:
  falconnet:
    driver: bridge
